<div class="title">
  Artists
</div>

<div class="section">
  <div class="cards no-wrap justify-content-initial non-height">
    <div class="sp-music-card-empty">
      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

    </div>
  </div>
</div>



<div class="title">
  Playlists
</div>

<div class="section">
  <div class="cards no-wrap justify-content-initial">
    <div class="sp-music-card-empty">
      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

      <div class="card">
        {{#content-placeholders rounded=true as |placeholder|}}
          {{placeholder.img}}
        {{/content-placeholders}}
      </div>

    </div>
  </div>
</div>

