{{#-in-element headElement}}
  <title>
   {{headData.title}} {{headData.description}}
  </title>

  <meta property="og:title" content={{headData.title}}>
  <meta property="og:description" content={{headData.description}}>
  <meta name="Description" content="{{headData.title}} {{headData.description}}">
  {{#if headData.image}}
    <meta property="og:image:url" content={{headData.image}}>
    <meta property="og:image:alt" content={{headData.title}}>
  {{/if}}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@jfrogfy">
  <meta name="twitter:title" content={{headData.title}}>
  <meta name="twitter:description" content="{{headData.description}}">
  <meta name="twitter:creator" content="@jfrogfy">
  <meta name="twitter:image:src" content={{headData.image}}>
  <meta name="twitter:domain" content="jfrogfy.com">
{{/-in-element}}

<div class="spotify-container">
  {{outlet}}
  <div class="spotify-footer">
    {{sp-current-music-bar}}
    {{sp-indicator}}
    {{sp-tabbar}}
  </div>
  {{sp-modal-player}}
</div>
